* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  
  body {
    font-family: 'Montserrat', sans-serif; }
  
  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 70%;
    margin: 0 auto;
    background: #EBEBEB;
    padding: 20px 30px;
    border-radius: 8px; }
  
  h1 {
    text-align: center; }
  
  .form-container {
    width: 100%;
    margin: 10px auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  
  .flex-item {
    width: 40%;
    height: 100%; }
  
  label {
    display: block;
    font-size: 20px; }
  
  .field-container {
    padding: 5px 10px;
    margin: 10px 0 10px; }
  
  .required {
    color: red;
    font-size: 1.1em; }
  
  .field-container > input, .passkey-box > input {
    width: 100%;
    display: inline-block;
    padding: 7px 15px;
    font-size: 18px;
    margin: 5px 0 3px;
    border-radius: 3px;
    outline: none;
    border: none;
    border-bottom: 2px solid black; }
  
  .passkey-box {
    position: relative; }
  
  .passkey-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 1.2em; }
  
  .field-container > input:focus, .passkey-box > input:focus {
    border-bottom: 2px solid dodgerBlue; }
  
  .error-messg {
    display: block;
    color: red;
    font-weight: 300; }
  
  .center {
    text-align: center; }
  
  input[type='submit'] {
    padding: 10px 30px;
    font-size: 1.2em;
    background: dodgerBlue;
    border: 1px solid white;
    outline: none;
    color: white;
    border-radius: 3px; }
  
  
  @media screen and (max-width: 576px) {
    .wrapper {
      width: 100%;
      padding: 100px 10px 30px;
      border-radius: 0; }
  
    h1 {
      margin-top: 50px; }
  
    .flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
  
    .flex-item {
      width: 100%; } }
  @media screen and (min-width: 576px) {
    .wrapper {
      width: 80%;
      padding: 100px 10px 30px;
      border-radius: 0; }
  
    .flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
  
    .flex-item {
      width: 100%; } }
  @media screen and (min-width: 662px) {
    .wrapper {
      width: 70%;
      padding: 100px 10px 30px;
      border-radius: 0; }
  
    .flex-item {
      width: 90%;
      height: 100%; } }
  @media screen and (min-width: 768px) {
    .wrapper {
      width: 80%;
      padding: 30px 10px;
      border-radius: 0; }
  
    .flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
  
    .flex-item {
      width: 40%;
      height: 100%; } }
  @media screen and (min-width: 992px) {
    .wrapper {
      max-width: 876px;
      padding: 30px 10px;
      border-radius: 0; } }
  
  /*# sourceMappingURL=style.css.map */
  
  
  
  /*CSS TODO*/
  
  
  @media screen and (max-width: 500px) {
    .card {
      font-size: 65%;
      width: 100%;
      /* padding: 10px 0px 40px 100px; */
      text-align: center;
      
      /*padding: 10px 10px 10px;*/
      border-radius: 0; }
      table,tbody {
        display: block;
        
      }
      tr{
        display: table;
      }
      td{
        display: table-row;
      }
     th {
        display: table-row;
      }
      thead {
        display: none;
      }
    }
  
  
@media screen and (max-width: 662px) {
  .card {
    
    font-size: 70%;
    height: 100%; } 
    .col-md-8.mx-auto.mt-4{
    width: 200px;
  }
  .table {
    max-width: 100%;
    /* padding: 100px 10px 30px; */
    border-radius: 0; }
} 

/*@media screen and (max-width: 767px) {
  .card {
    font-size: 75%;
    padding: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
    width: 480px
  }
  }*/


@media screen and (min-width: 768px) {
  .card {
    font-size: 100%;
    /*width: 80%;
    height: 100%;*/ 
    
    
  } 
  .col-md-8.mx-auto.mt-4{
    width: 690px;  
  }
  .row{
    margin-top: 90px;
    
  }
.table {
  max-width: 100%;
  padding: 100px 10px 30px;
  border-radius: 0; }
}
@media screen and (min-width: 992px) {
  .card{
    font-size: 80%;
    max-width: 100%;
    padding: 30px 10px 30px 10px;
    border-radius: 0; 
    /*align-items: center;
    display: flex;*/
  } 
  
  }


  

